/* Reset e global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--maisEscuro); /* fundo da paleta */
    color: var(--texto); /* cor do texto conforme o tema */
    line-height: 1.5; /* Melhora a legibilidade */
}

/* Imagens e mídia */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto; /* Garante que a proporção da imagem seja mantida */
}

/* Formulários e botões */
button, input, textarea, select {
    font: inherit;
    border: none;
    outline: none;
    background: none;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Seções */
section {
    min-height: 100vh; /* Usa min-height para permitir que a secção cresça */
    height: auto;
    padding: 6rem 2rem;
    width: 100%;
}

/* Lista */
li {
    list-style: none;
}