.container-sobre {
    display: flex;
    justify-content: center; /* Alterado para center */
    gap: 2rem;
    align-items: flex-start; /* Alinha os itens no topo */
}

.caixa-sobre {
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    max-width: 800px;
}

.sobre-sidebar-dados {
    max-width: 400px;
    flex-shrink: 0; /* Impede que o sidebar encolha */
}

.sidebar-titulo {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid;
}

.dados-pessoais {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 1.5rem;
}

.dados-pessoais-titulo {
    font-size: 1.2rem;
}

.dados-pessoais-link:hover {
    color: var(--primaria);
}

.paragrafo-sobre {
    text-indent: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.paragrafo-sobre:last-child {
    margin-bottom: 0;
}

.botao-cv {
    color: #0b0b0b;
    background: linear-gradient(45deg, var(--primaria), var(--secundaria));
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.3s ease;
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.botao-cv:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 5px 15px rgba(230, 57, 70, 0.4);
}

/* Tablet */
@media (max-width: 1024px) {
    .container-sobre {
        flex-direction: column; /* Coloca os itens um debaixo do outro */
        align-items: center;
        gap: 2rem;
    }

    .caixa-sobre,
    .sobre-sidebar-dados {
        max-width: 700px; /* Permite que ocupem mais largura */
        width: 100%;
    }

    .paragrafo-sobre {
        font-size: 1.1rem;
    }
}

/* Telemóvel */
@media (max-width: 768px) {
    .caixa-sobre {
        padding: 1.5rem;
    }

    .paragrafo-sobre {
        font-size: 1rem;
    }

    .dados-pessoais-titulo {
        font-size: 1rem;
    }

    .dados-pessoais p, .dados-pessoais a {
        font-size: 0.9rem;
    }
}